_site

#mirage related
_mirage/_build
_mirage/Makefile
_mirage/log
_mirage/main.ml
_mirage/main.native
_mirage/mir-www
_mirage/static1.ml
_mirage/static1.mli
_mirage/www.xl

# sublime
*.sublime-workspace