_site/reveal.js
_site/slides
_site/LICENSE.md
_site/README.md
_site/index.html

#mirage related
_mirage/_build
_mirage/Makefile
_mirage/log
_mirage/main.ml
_mirage/main.native
_mirage/mir-www
_mirage/static1.ml
_mirage/static1.mli
_mirage/www.xl

# sublime
*.sublime-workspace